<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand me-2" routerLink="/welcome">
        Home
      </a>
  
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          </li>
        </ul>
        <div class="d-flex align-items-center" *ngIf="!this.isLogined">
          <button type="button" class="btn btn-light px-3 me-2" (click)="goToLoginPage()">
            Login
          </button>
          <button type="button" class="btn btn-primary me-3" (click)="goToSignupPage()">
            Sign up
          </button>
        </div>
        <div class="d-flex align-items-center" *ngIf="this.isLogined">
          <button type="button" class="btn btn-primary me-3" (click)="signOut()">
            Sign out
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<footer></footer>